*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

    body{
        font-family: Roboto, Arial, sans-serif;
        color: $white;
        background-color: $semiDarkPurple;
    }

    input[type=text]{
        width: 100%;
        border-radius: 0.313rem; //5px
        padding: 0.313rem;
    }

    img{
        max-width: 100%;
        height: 100%;
    }