.video-item{
    display: flex;
    position: relative;
    min-width: 250px; //350px
    height: 200px;

    margin:map-get($separations, 'item');
    border-radius: $border-radius;
    overflow: hidden;
    cursor: pointer;

    &__description{
        width: 100%;
        min-height: 40%; height: auto;
        position: absolute;
        left:0; bottom: 0;

        background-color: white;

        padding: map-get($separations, 'item');

        & h5, h6{
            padding: map-get($separations, 'text-sm') 0;
        }
        & h6{
            opacity: .5;
        }
    }
}