.current-video{
    width: 100%;
    min-height: 30vw; height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: map-get($separations, 'box');
    background-color: white;
    border-radius: $border-radius;

    &__video{
        height: 50vw; max-height: 550px;
        min-width: 60%;
        flex-grow: 1;
    }

    &__description{
        width: 40%;
        flex-grow: 1;

        padding: map-get($separations, 'box');

        & h1, p{
            padding: map-get($separations, 'text-md') 0;
        }
    }
}