// Color
$darkPurple:hsl(258, 52%, 5%);
$semiDarkPurple: hsl(244, 25%, 11%);
$white: hsl(0, 0%, 100%);

// Padding
$paddings:(
    'box': 1.875rem, //30px
    'item': 0.625rem, //10px
    'text-md': 0.313rem, //5px
    'text-sm': 0.188rem//3px
)